<md-dialog>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>בחר בעיה...</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="assets/images/icons/ic_close_white_48px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <md-list>
        <md-list-item class="md-1-line" ng-repeat="problem in vm.problems" ng-click="vm.answer(problem)">
          <div class="md-list-item-text" layout="column">
            <h3>{{ problem.text }}</h3>
          </div>
          <md-divider></md-divider>
        </md-list-item>
      </md-list>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-algin="start ceneter">
      <md-button class="md-raised md-primary" ng-click="vm.cancel()">
        בטל
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
